# Cutlets.csv

In [1]:
import pandas as pd 
import numpy as np
from scipy import stats 
from scipy.stats import norm

In [3]:
data=pd.read_csv("Cutlets.csv")
data.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
unitA=pd.Series(data.iloc[:,0])
unitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [5]:
unitB=pd.Series(data.iloc[:,1])
unitB

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [6]:
# 2-sample 2-tail ttest:
p_values=stats.ttest_ind(unitA,unitB)
p_values

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [9]:
p_values[1] # 2-tail probability

0.4722394724599501

In [10]:
# compare p_value with a=0.05 (At 5% significance level)

# LabTAT.csv

In [11]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [13]:
data=pd.read_csv("LabTAT.csv")
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [17]:
# Anova ftest statistics: stats.f_oneway(column-1,column-2,column-3,column-4)
p_value=stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [18]:
p_value[1] # compare it with a=0.0.5

2.1156708949992414e-57

# BuyerRatio.csv

In [2]:
import pandas as pd 
import numpy as np
from scipy import stats 
from scipy.stats import norm

In [23]:
buy = pd.read_csv("BuyerRatio.csv")
buy

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [31]:
buy.describe()

             East         West        North       South
count    2.000000     2.000000     2.000000    2.000000
mean   242.500000   832.500000   743.500000  410.000000
std    272.236111   976.514465   866.205807  480.832611
min     50.000000   142.000000   131.000000   70.000000
25%    146.250000   487.250000   437.250000  240.000000
50%    242.500000   832.500000   743.500000  410.000000
75%    338.750000  1177.750000  1049.750000  580.000000
max    435.000000  1523.000000  1356.000000  750.000000

In [35]:
East=buy['East'].mean()
West=buy['West'].mean()
North=buy['North'].mean()
South=buy['South'].mean()
print('East Mean=',East)
print('West Mean=',West)
print('North Mean=',North)
print('South Mean=',South)

East Mean= 242.5
West Mean= 832.5
North Mean= 743.5
South Mean= 410.0

In [42]:
alpha=0.05
Male=[50,142,131,70]
Female=[435,1523,1356,750]
Sales=[Male,Female]
print(Sales)

[[50, 142, 131, 70], [435, 1523, 1356, 750]]

In [47]:
import scipy as sp
chiStats=sp.stats.chi2_contingency(Sales)
print('Test t=%f p-value=%f' % (chiStats[0],chiStats[1]))
print('Interpret by p-value')
if chiStats[1]<0.05:
  print('we reject null hypothesis')
else:
    print('we accept null hypothesis')

Test t=1.595946 p-value=0.660309
Interpret by p-value
we accept null hypothesis

In [52]:
alpha=0.05
critical_value=sp.stats.chi2.ppf(q=1-alpha,df=chiStats[2])
observed_chi_val=chiStats[0]
print('Interpret by critical value')

Interpret by critical value

In [66]:
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [67]:
p_value[1]

2.1156708949992414e-57

# Costomer+OrderForm.csv

In [69]:
import pandas as pd
import numpy as np
from scipy import stats 
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [71]:
data=pd.read_csv("Costomer+OrderForm.csv")
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [72]:
data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [73]:
data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [74]:
data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [75]:
data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [76]:
obs=np.array([[271,267,269,280],[29,33,31,20]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [77]:
chi2_contingency(obs)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [78]:
# compare p_value with a=0.05

In [83]:
#OR
a1=(271-271.75)**2/271.25
a2=(267-271.75)**2/271.25
a3=(269-271.75)**2/271.25
a4=(280-271.75)**2/271.25
a5=(29-28.25)**2/28.25
a6=(33-28.25)**2/28.25
a7=(31-28.25)**2/28.25
a8=(20-28.25)**2/28.25
a=a1+a2+a3+a4
a

0.36405529953917054